@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;500&family=Roboto:wght@700&family=Sofia&display=swap');

.my-title {
    /* font-family: Arial Black;  */
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-weight: bold;
    font-size: 4rem;
    background: #288054;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.my-title:hover {
    /* font-family: Arial Black;  */
    background: #1d29d0;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}